{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      },
      "shippedProposals": true
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}